<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441846428818-4qk42cciglup3uo11ghnrvfmr7430150.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441846428818-4qk42cciglup3uo11ghnrvfmr7430150</string>
	<key>API_KEY</key>
	<string>AIzaSyBBBDG4jRP1hJSYGEySFb1eaju6YHqMvps</string>
	<key>GCM_SENDER_ID</key>
	<string>441846428818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>se-n13-your-pets</string>
	<key>STORAGE_BUCKET</key>
	<string>se-n13-your-pets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441846428818:ios:c0ac4c0d833a1bbcd5e24b</string>
</dict>
</plist>